<app-header></app-header>
<form (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="name" name="name" required />

  <label for="address">Address:</label>
  <input
    type="text"
    id="address"
    [(ngModel)]="address"
    name="address"
    required
  />

  <label for="payment">Payment Details:</label>
  <input
    type="text"
    id="payment"
    [(ngModel)]="paymentDetails"
    name="payment"
    required
  />

  <button type="submit">Checkout</button>
</form>
