.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.product-item {
  background-color: #f9f9f9;
  border: 1px solid #33b5e5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-image {
  height: 20px;
  overflow: hidden;
}

.product-image img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  height: fit-content;
  object-fit: contain;
  border-radius: 5px;
}

.product-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5em;
  color: #333;
  margin: 10px 0;
}

.product-description {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

.product-price {
  font-size: 1.2em;
  color: #33b5e5;
  margin: 10px 0;
}

.product-select-input {
  width: 100px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-button {
  background-color: #33b5e5;
  color: white;
  margin-top: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
  opacity: 1;
}

.success-message.ng-leave {
  opacity: 0;
}
