/* General styles for the detail container */
.detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 64px;
}

.product-image {
  flex: 1;
  max-width: 300px;
}

.product-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.detail-item {
  flex: 2;
  margin-left: 20px;
  margin-right: 20px;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.back-link {
  margin-top: 8px;
  text-decoration: underline;
  color: #33b5e5;
  cursor: pointer;
}
