body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.cart-panel {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  font-size: 1.5em;
  color: #666;
}

.btn {
  background-color: #33b5e5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0288d1;
}

.form-margin {
  margin-bottom: 12px;
}

.number-input {
  width: 80px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
