<app-header></app-header>
<div class="cart">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length === 0">
    <p>Your cart is empty.</p>
  </div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.url" alt="{{ item.name }}" />
    <div class="cart-item-details-horizontal">
      <span class="cart-item-name">{{ item.name }}</span>
      <span class="cart-item-price">Price: {{ item.price | currency }}</span>
      <span class="cart-item-quantity">Quantity: {{ item.quantity }}</span>
    </div>
    <button (click)="removeFromCart(item.id)">Remove</button>
  </div>
  <div *ngIf="cartItems.length > 0">
    <h3>Total Items: {{ totalItems }}</h3>
    <h3>Total Price: {{ totalPrice | currency }}</h3>
    <h3>Checkout</h3>
    <button (click)="goToCheckout()">Proceed to Checkout</button>
  </div>
</div>
